<!-- <div fxLayout="row" class="animate__animated animate__fadeInLeft animate__slow">
  <div fxLayout="column" fxFlex="100%">
    <div id="particles-js" class=""></div>
    <div class="home_text">
      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutWrap
        fxLayoutGap="1%"
        fxLayoutGap.lt-sm="5%"
        fxLayoutAlign="center"
        style="height: 100%;"
      >
        <div fxFlex="60%" id="home_text_column">
          <h4>Hello, I'am</h4>
          <h1>Ankit Gupta</h1>
          <p id="d">Person whom u can <u>TRUST</u></p>
          <br />
          <p>
            I am a
            <span class="element">
              <em class="sub-element"> <u>UI Developer</u></em>
              <em class="sub-element"> <u>Front End Developer</u></em>
            </span>
          </p>
          <p>... avaliable 24/7/365</p>
        </div>
        <div fxFlex="40%" fxLayoutAlign="center center">
          <img src="../../assets/Images/home2.gif" alt="welcome" />
        </div>
      </div>
    </div>
  </div>
</div> -->
<h1>
  ** Home Works ** <br />
  Ankit Gupta
</h1>
