@import "../../../variables";

.mat-icon {
  color: $sidebar-text;
}

#routerLinks {
  margin-left: 10px;
  min-width: 100px;
}

#routerLinks p {
  width: 100%;
  font-size: 18px;
  margin: 0;
  color: $sidebar-text;
  font-family: $Recursive-Medium;
  letter-spacing: 0px;
  opacity: 1;
  padding-top: 2px;
}

.mat-list-base {
  margin: 5px;
  display: block;
  padding-top: $padding-0 !important;
}

.mat-nav-list .highlight {
  border-left: 5px solid $border-left;
  transition: all ease-in-out;
  outline: hidden;
  display: block;
  border-radius: 5px;
}

.mat-nav-list .highlight p {
  font-family: $Recursive-Bold !important;
  background: linear-gradient(
    to bottom right,
    $sidebar-Highlight-color1,
    $sidebar-Highlight-color2
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mat-nav-list .highlight .mat-icon {
  border-radius: 0 !important;
  background: linear-gradient(
    to bottom right,
    $sidebar-Highlight-color1,
    $sidebar-Highlight-color2
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 24px !important;
  padding: 1px !important;
}

.mat-list-item-content {
  padding: $padding-0 $padding-10 !important;
}

.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  background: transparent !important;
}
