<mat-nav-list disableRipple>
  <mat-list-item
    *ngFor="let list of routerList; let i = index"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
    [routerLink]="[list.url]"
    (click)="highlightRoww(i)"
    [ngClass]="{ highlight: i == selectedIndex }"
  >
    <span id="routerLinks" *ngIf="open || isShowing">
      <p>{{ list.heading | uppercase }}</p>
    </span>
    <mat-icon mat-list-icon id="routerIcons"> {{ list.router_icon }} </mat-icon>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>
