
$padding-0:0px;
$padding-left-0:0px;
$padding-right-0:0px;
$padding-top-0:0px;
$padding-bottom-0:0px;
$padding-15:15px;
$padding-left-15:15px;
$padding-right-15:15px;
$padding-top-15:15px;
$padding-bottom-15:15px;

$margin-0:0px;
$margin-left-0:0px;
$margin-right-0:0px;
$margin-top-0:0px;
$margin-bottom-0:0px;
$margin-15:15px;
$margin-left-15:15px;
$margin-right-15:15px;
$margin-top-15:15px;
$margin-bottom-15:15px;

$background-color:#fafafa;
$text-color1:#1E1E1E;
$text-color2:#9F9F9F;
$sidebar-logout-bgcolor:#FFFFFF;
$menu-color:#FFFFFF;
$color-white:#FFFFFF;
$box-shadow-color1:#00000024;
$header-background:#3E4D82;
$color-today-search:#3E4D82;
$card-button-color1:#64B147;
$card-button-color2:#109679;
$dashboard-heading:#109679;
$menu-text-color:#5D5B5B;
$profile-content:#5D5B5B;
$logout-color:#088B79;
$todays-color:#63BC39;
$calander-info-bgcolor:#F5F5FB;
$search-portion-bgcolor:#E6ECFF;
$sidebar-bg-color:#009478;
$later-button:#8B8A8A;

$TitilliumWeb-Regular:'TitilliumWeb-Regular';
$TitilliumWeb-SemiBold:'TitilliumWeb-SemiBold';
$TitilliumWeb-Bold:'TitilliumWeb-Bold';
