$padding-0: 0px;
$padding-left-0: 0px;
$padding-right-0: 0px;
$padding-top-0: 0px;
$padding-bottom-0: 0px;
$padding-10: 10px;
$padding-15: 15px;
$padding-left-15: 15px;
$padding-right-15: 15px;
$padding-top-15: 15px;
$padding-bottom-15: 15px;

$margin-0: 0px;
$margin-left-0: 0px;
$margin-right-0: 0px;
$margin-top-0: 0px;
$margin-bottom-0: 0px;
$margin-15: 15px;
$margin-left-15: 15px;
$margin-right-15: 15px;
$margin-top-15: 15px;
$margin-bottom-15: 15px;

$background-color: #f1ecd9;
$toolbar-color1: #140f2e;
$toolbar-color2: #0d0825;
$toolbar-color3: #01051d;
$color-white: #ffffff;
$button-bgColor1: #fdc830;
$button-bgColor2: #f37335;
$button-border: #be0027;
$button-shadow: #be0027;
$border-left: #01051d;
$sidebar-text: #be0027;
$text-color1: #1e1e1e;
$text-color2: #9f9f9f;
$sidebar-Highlight-color1: #c94b4b;
$sidebar-Highlight-color2: #4b4f4c;
$Auth-bg-color: #009478;

$Recursive-Regular: "Recursive-Regular";
$Recursive-Medium: "Recursive-Medium";
$Recursive-SemiBold: "Recursive-SemiBold";
$Recursive-Bold: "Recursive-Bold";

$Lato-Italic: "Lato-Italic";
$Lato-Light: "Lato-Light";
$Lato-Regular: "Lato-Regular";
