<h1>
  ** About Works ** <br />
  Ankit Gupta
</h1>

<p id="first">
  Good user interface design facilitates finishing the task at hand without
  drawing unnecessary attention to itself. Graphic design and typography are
  utilized to support its usability, influencing how the user performs certain
  interactions and improving the aesthetic appeal of the design; design
  aesthetics may enhance or detract from the ability of users to use the
  functions of the interface. The design process must balance technical
  functionality and visual elements
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum debitis autem in
  sint nihil magni, quaerat qui culpa sit, repudiandae pariatur rerum nulla
  ratione maiores architecto ipsum ut nemo? Libero. Lorem, ipsum dolor sit amet
  consectetur adipisicing elit. Eum debitis autem in sint nihil magni, quaerat
  qui culpa sit, repudiandae pariatur rerum nulla ratione maiores architecto
  ipsum ut nemo? Libero. Lorem, ipsum dolor sit amet consectetur adipisicing
  elit. Eum debitis autem in sint nihil magni, quaerat qui culpa sit,
  repudiandae pariatur rerum nulla ratione maiores architecto ipsum ut nemo?
  Libero. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum debitis
  autem in sint nihil magni, quaerat qui culpa sit, repudiandae pariatur rerum
  nulla ratione maiores architecto ipsum ut nemo? Libero. Lorem, ipsum dolor sit
  amet consectetur adipisicing elit. Eum debitis autem in sint nihil magni,
  quaerat qui culpa sit, repudiandae pariatur rerum nulla ratione maiores
  architecto ipsum ut nemo? Libero. Lorem, ipsum dolor sit amet consectetur
  adipisicing elit. Eum debitis autem in sint nihil magni, quaerat qui culpa
  sit, repudiandae pariatur rerum nulla ratione maiores architecto ipsum ut
  nemo? Libero. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum
  debitis autem in sint nihil magni, quaerat qui culpa sit, repudiandae pariatur
  rerum nulla ratione maiores architecto ipsum ut nemo? Libero. Lorem, ipsum
  dolor sit amet consectetur adipisicing elit. Eum debitis autem in sint nihil
  magni, quaerat qui magni, quaerat qui culpa sit, repudiandae pariatur rerum
  nulla ratione maiores architecto ipsum ut nemo? Libero. Lorem, ipsum dolor sit
  amet consectetur adipisicing elit. Eum debitis autem in sint nihil magni,
  quaerat qui culpa sit, repudiandae pariatur rerum nulla ratione maiores
  architecto ipsum ut nemo? Libero.
</p>
